@import 'colors';
html,
body {
  overflow-x: hidden;
}
.maint {
  width: 100%;
  height: 100vh;
  position: relative;
}
.overlayt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}


.globalImg {
  width: 100%;
  height: auto;
}

.text-night {
  color: $night;
}

.text-dark {
  color: $dark;
}

.text-light {
  color: $light;
}

.text-lighter {
  color: $lighter;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.bg-night {
  background-color: $white;
}

.bg-dark {
  background-color: $dark;
}

.bg-light {
  background-color: $light;
}

.bg-lighter {
  background-color: $lighter;
}

.bg-black {
  background-color: $black;
}

.bg-white {
  background-color: $white;
}

.lift {
  -webkit-transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, -webkit-transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  transition: box-shadow 0.25s ease, transform 0.25s ease,
    -webkit-transform 0.25s ease;

  &:hover,
  &:focus {
    box-shadow: 0 1rem 2.5rem rgba(22, 28, 45, 0.1),
      0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.1) !important;
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
  }
}

.lift-lg:hover,
.lift-lg:focus {
  box-shadow: 0 2rem 5rem rgba(22, 28, 45, 0.1),
    0 0.5rem 1rem -0.75rem rgba(22, 28, 45, 0.05) !important;
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}

@media screen and (min-width: 768px) {
  .globalImg {
    width: 100%;
    height: 250px;
  }
}

.custom-paginate {
  display: flex;
  list-style: none;
  height: 40px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: fit-content;
  align-items: center;
  padding: 0;
  margin-top: 40px;
}

.actived {
  font-weight: bold;
  background-color: $night;
  pointer-events: none;
  color: $white;
}

.paginate {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
  margin: 5px;
}

.paginate-center {
  width: 35%;
  margin: 0 auto;

  .previous {
    margin: 0 auto;
  }

  .next {
    margin: 0 auto;
  }
}

a {
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.nav-link {
  color: black;


  &:hover {
    color: $dark;
  }
}

.mask {
  cursor: pointer;
}

.carousel-control-prev-icon:after {
  content: '';
}

.carousel-control-next-icon:after {
  content: '';
}

.contact-card {
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
}

.navbar-toggler-icon {
  display: flex !important;
  align-items: center !important;
}

.navbar-toggler-icon:after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  pointer-events: none;
  content: '\f142';
  color: $dark;
}

.login-row {
  width: 100%;
  margin: 0 !important;

  img {
    max-height: 98vh;
  }
}

.dialog-demo .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

.dialog-demo p {
  margin: 0;
  line-height: 1.5;
}

.dialog-demo .p-dialog .p-button {
  min-width: 6rem;
  background-color: red;
}

.navbarcss {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
}
.hello {
  z-index: 1000;
  // position:relative;
}
.main {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0px;
  position: relative;
  z-index: 1;
}

div.scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: $dark;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

@media screen and (max-width: 1024px) {
  .paginate-center {
    width: 35%;

    .previous {
      margin: 0 auto;
    }

    .next {
      margin: 0 auto;
    }
  }
}

.back {
  // background: rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.sticky {
  position: fixed;
  top: 0;
  align-items: stretch;
  background-color: white;
  padding-bottom: 10px;
  z-index: 1;
}
.sticky2 {
  position: sticky;
  top: 40px;
  align-items: stretch;
  background-color: white;
  padding-bottom: 10px;
  z-index: 1;
}
.sticky3 {
  position: sticky;
  top: 100px;
  align-items: stretch;
  background-color: white;
  padding-bottom: 10px;
  // z-index: 1;
}
.card-header-image {
  height: 18vh;
  width: 100%;
  object-fit: cover;
}

.cursorpointer {
  cursor: pointer;
}

.mapButton {
  // position:absolute;
  position: fixed;
  left: 40%;
  top: 90%;
  z-index: 1;
  background-color: #dcebff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  color: rgba(0, 0, 255, 0.954);
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.cardPa {
  margin-top: 0px;
}

.fontSize {
  text-justify: auto;
}

.sha {
  border: 1px;
  height: 20px;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}

.datatable-templating-demo .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.datatable-templating-demo .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.hide {
  display: none;
}

.success {
  background-color: rgba(216, 244, 222, 0.9);
  margin: 1px;
  border: 1px solid green;
}
.success > h3 {
  font-size: 0.8rem;
}

.wrap {
  display: flex;
}
.box {
  display: inline-block;
  height: 100vh;
  width: 40%;
  // background-color: blue;
  overflow-y: scroll;
  padding-left: 80px;
  margin: 0px;
  padding: 0px;
  
}
.box2 {
  display: inline-block;
  height: 100vh;
  width: 60%;
  // background-color: blue;
  overflow: scroll;
}

.boxSlug1{
  display: inline-block;
  height: 100vh;
  width: 60%;
  overflow: scroll;
}

.boxSlug2{
  display: inline-block;
  height: 100vh;
  width: 40%;
  // background-color: blue;
  overflow-y: scroll;

  margin: 0px;
  padding: 0px;
}

.grid-layout{
  display:grid;
  grid-template-columns: auto auto;
}

.ima0{
  grid-column: 1/3;
  // justify-content: end;
}

.lineatrans{
  color:gray;
  opacity: .4;
}



.mainVideo {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0px;
  // position: relative;
  // z-index: 1;
}
.videoBg {
  object-fit: cover;
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
.anchor2 {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.rowTop{
  padding-top: 500px;
}

.fixedTop{
  padding-bottom: 250px;
  z-index: 1;
  
  

}
@media screen and (max-width: 768px) {
  .login-img {
    display: none;
  }

  .login-row {
    min-height: 80vh;
  }

  .paginate-center {
    width: 70%;

    .previous {
      margin: 0 auto;
    }

    .next {
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 576px) {
  .paginate-center {
    width: 100%;

    .previous {
      margin: 0 auto;
    }

    .next {
      margin: 0 auto;
    }
  }
}

.map-content {
  display: flex;
  height: 100vh;;
}

.map {
  width: 100%;

}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.marker {
  border: none;
  cursor: pointer;
  height: 26px;
  width: 26px;
  background-image: url('/marker.png');
  background-size: cover;
  // background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
}

/* Marker tweaks */
.mapboxgl-popup {
  padding-bottom: 50px;
}

.mapboxgl-popup {
  max-width: 50px;
}

.mapboxgl-popup-content {
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  // color: #fff;
  color: blue;

  margin: 0;
  padding: 0px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 0px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 5px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}
